    #Maindata {
        display: flex;
        margin: 100px;
        flex-direction: column;
        /* border: 1px solid red; */
        text-align: center;
    }
    
    #data img {
        width: 20%;
    }
    
    #Maindata hr {
        height: 1px;
        background-color: black;
    }
    
    .cont {
        width: 44%;
        /* margin-left: 30%; */
        border: 1px solid;
        display: flex;
        justify-content: space-between;
        margin: 2% 56%;
    }
    
    #data input {
        width: 60px;
    }
    
    .cont h3 {
        font-size: 20px;
    }
    
    #data div {
        display: flex;
        /* width: 80%; */
        margin: auto;
        /* border: 1px solid red; */
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
    }
    
    #checkout {
        border: 1px solid red;
        box-sizing: border-box;
        width: max-content;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        float: right;
        margin-right: 30px;
        text-align: center;
        text-decoration: none;
    }
    
    #checkout button {
        background-color: #FF6D6D;
        width: 70%;
        margin: auto;
        color: #FFFFFF;
        padding: 14px 22px;
        border-radius: 20px;
        border: none;
    }
    
    #checkout a {
        color: black;
        font-weight: 500;
    }