* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Avenir Next", sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Avenir Next", sans-serif;
    z-index: 10;
}

#BoultAudio_logo {
    height: 70px;
    position: absolute;
    left: 8%;
}

nav ul {
    float: right;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 40px;
}

nav ul li {
    line-height: 55px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 20px;
}

nav ul ul {
    display: none;
    width: max-content;
}

nav ul li:hover>ul {
    position: absolute;
    background-color: whitesmoke;
    opacity: 100%;
    display: block;
    z-index: 6;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 14vw;
    color: black;
    font-weight: 100;
    float: none;
    display: list-item;
}

nav ul li:nth-child(5) a {
    color: #48C5D6;
}


/* Style buttons */


/* Darker background on mouse-over */

.btn:hover {
    background-color: white;
}

#user_icon {
    height: 35px;
    vertical-align: middle;
}

#shopping-cart {
    height: 50px;
    width: auto;
    vertical-align: middle;
    border-radius: 50%;
}

#shopping-cart-count {
    background-color: white;
    color: #128bc4;
    height: max-content;
    font-weight: 500;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 2px;
    position: relative;
    right: 30px;
    top: -8px
}