 #Product_Discription {
     display: flex;
     margin: 150px 100px 100px 100px;
     /* flex-direction: column; */
     border: 1px solid red;
     text-align: center;
     padding: 20px;
     box-sizing: border-box;
 }
 
 #Product_Discription img {
     width: 80%;
 }
 
 #Product_Discription div {
     display: flex;
     margin: 10px;
     border: 1px solid red;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
 }